.features {
  background-color: $background-light;
}

.features__title {
  padding: 0 0 0 20px;
  margin: 0 0 20px;
}

.features__text {
  width: 760px;
  padding: 0 10px;
  margin: 0 auto 30px;
  white-space: pre-wrap;

  br {
    display: none;
  }
}

.features__list {
  list-style: none;
  padding: 0;
  width: 1100px;
  margin: 0 auto;
  position: relative;
  background-image: url("../img/features-cat.webp");
  background-repeat: no-repeat;
  background-position: 56% -85px;
  background-size: 650px 900px;
  min-height: 783px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/features-cat2x.webp");
  }
}

.features__item p {
  margin: 0;
  padding: 0;
}

.features__item:nth-child(1) {
  font-size: 14px;
  position: absolute;
  top: 180px;
  left: 28px;
  width: 245px;
  padding: 0 5px;
  text-align: right;
}

.features__item:nth-child(2) {
  position: absolute;
  top: 290px;
  right: -45px;
  width: 245px;
  padding: 0 5px;
}

.features__item:nth-child(3) {
  position: absolute;
  top: 508px;
  right: 60px;
  width: 180px;
  padding: 0 5px;
}

.features__item:nth-child(4) {
  position: absolute;
  top: 465px;
  left: 36px;
  width: 220px;
  padding: 0 5px;
  text-align: right;
}

@media (max-width: $desktop-width) {
  .features__title {
    margin-left: -20px;
  }

  .features__text {
    width: 480px;

    br {
      display: block;
    }
  }

  .features__list {
    width: 760px;
    min-height: 571px;
    background-image: url("../img/features-cat__tablet.webp");
    background-size: 430px 609px;
    background-position: 53% -37px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/features-cat__tablet2x.webp");
    }
  }

  .features__item:nth-child(1) {
    top: 142px;
    left: 40px;
    width: 150px;
  }

  .features__item:nth-child(2) {
    top: 216px;
    right: 25px;
    width: 135px;
  }

  .features__item:nth-child(3) {
    top: 364px;
    right: 65px;
    width: 120px;
    line-height: 22px;
  }

  .features__item:nth-child(4) {
    top: 335px;
    left: 36px;
    width: 145px;
    line-height: 22px;
  }
}

@media (max-width: $tablet-width) {
  .features__title {
    width: 300px;
    margin: 0 auto 25px;
    padding: 0;
  }

  .features__text {
    width: 280px;
    padding: 0;

    br {
      display: none;
    }
  }

  .features__list {
    width: 310px;
    min-height: 589px;
    background-image: url("../img/features-cat__mobile.webp");
    background-size: 280px 304px;
    background-position: center -3px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/features-cat__mobile2x.webp");
    }
  }

  .features__item:nth-child(1) {
    font-size: 14px;
    position: static;
    width: 270px;
    text-align: left;
    padding-top: 337px;
    padding-left: 28px;

    &::before {
      content: "";
      position: absolute;
      top: 340px;
      left: 10px;
      width: 8px;
      height: 8px;
      background-color: $text-accent;
      border-radius: 50%;
    }
  }

  .features__item:nth-child(2) {
    font-size: 14px;
    position: static;
    width: 250px;
    padding-left: 28px;
    text-align: left;

    &::before {
      content: "";
      position: absolute;
      top: 400px;
      left: 10px;
      width: 8px;
      height: 8px;
      background-color: $text-accent;
      border-radius: 50%;
    }
  }

  .features__item:nth-child(3) {
    font-size: 14px;
    position: static;
    width: 290px;
    text-align: left;
    padding-left: 28px;

    &::before {
      content: "";
      position: absolute;
      top: 460px;
      left: 10px;
      width: 8px;
      height: 8px;
      background-color: $text-accent;
      border-radius: 50%;
    }
  }

  .features__item:nth-child(4) {
    font-size: 14px;
    position: static;
    width: 200px;
    text-align: left;
    padding-left: 28px;

    &::before {
      content: "";
      position: absolute;
      top: 500px;
      left: 10px;
      width: 8px;
      height: 8px;
      background-color: $text-accent;
      border-radius: 50%;
    }
  }

  .features__item {
    line-height: 19px;
  }

  .features__item:not(:last-child) {
    margin-bottom: 20px;
  }
}
