.link {
  display: inline-block;
  text-decoration: none;
  font-family: inherit;
  color: $text;
  text-align: center;
  width: 200px;
  min-height: 52px;
  border: 0.5px solid $text-accent;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  cursor: pointer;

  &:hover {
    background-color: $text-accent;
  }
}
