$background-dark: #181617;
$background-light: #1f1c1d;
$text: #ffffff;
$text-light: rgba(255, 255, 255, 0.2);
$text-accent: #a07b50;
$border: rgba(160, 123, 80, 0.43);
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1365px;
